<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="c:\temp\skylogs\nlog-internal.log">
	
    <targets>
        <target name="Info" 
				xsi:type="File" 
				fileName="${basedir}/var/logs/${shortdate}_log.log"
				layout="${level:uppercase=true} | ${longdate} | ${message}" 
				keepFileOpen="true" />
    </targets>

	<rules>
		<logger name="ContractParser.*" minlevel="Info" writeTo="Info" />
	</rules>
</nlog>